[run]
source = your_source_folder

[report]
show_missing = true

exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */virtualenvs/*
    */site-packages/*
